html{
    scroll-behavior: smooth;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}


.body{
    background-image: url(images/bg-main.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background: none;
}
.main{
    background: none;
}
.footer{
    background-color: black;
}

.wrap{
    max-width: 1275px;
    margin: 0 auto;
    padding: 0 15px;
}

header{
    background: url(images/bg-second.png) no-repeat;
    background-size: cover;
    background-position: 50% 19.6%;
    padding: 0px 0 85px;
    width: 100%;
}

.header-fix{
    position: fixed;
    z-index: 1;
    background-color: rgba(33, 35, 46, 0.6);
    width: 100%;
    text-align: -webkit-center;
    padding: 10px 0 10px 0;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    max-width: 1275px;
    align-items: center;
}
.logo-img{
    width: 67px;
    height: 80px;
}
.logo-img:hover{
    fill: #e64c70;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.navbar-text{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.navbar-text:hover{
    color: #e64c70;
}

.header-text{
    text-align: right;
    font-size: 50px;
    color: #fff;
}
.header-text span{
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 6px;
    color: grey;
    text-align: right;
    text-transform: uppercase;
}
.center-text{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 675px;
}
.btn-up {
    text-decoration: none;
    font-size: 34px;
    font-weight: 900;
    color: #fff;
    background-color: #3b3f50;
    border-radius: 50%;
    padding: 8px 27px;
    position: fixed;
    top: 69%;
    left: 5%;
    transition: 0.3s;
}
.btn-up:hover{
    color: black;
    background-color: #e64c70;
}

main{
    background-color: #21232e;
    padding: 40px 0 40px 0;
}

.main-header{
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.6px;
    padding-bottom: 28px;
    letter-spacing: 2px;
}

.main-wrap{
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}
.section_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 63, 80, 0.8);
    border-radius: 5px;
    margin-bottom: 26px;
}
.section_card_img {
    padding: 20px;
    max-width: 430px;
    height: 300px;
    margin: 0 auto;
}
.section_card_heading {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.section_card_right_container {
    color: #fff;
    max-width: 540px;
    margin-left: 71px;
}
.section_card_left_container {
    color: #fff;
    max-width: 540px;
    margin-right: 71px;
}
.section_card_text{
    font-family: "Fresca", sans-serif;
    font-size: 16px;
    color: #c0c3ce;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding-bottom: 20px;
}
footer{
    background-color: black;
    padding: 50px 0;
}
.footer-text{
    font-size: 23px;
    letter-spacing: 1.5px;
    color: #fff;
    text-align: center;
}